/* styles.css */
/* 全セクション共通の上下マージンを600pxに */
section {
    margin: 600px 0;
    padding: 0 20px;
}

section:nth-of-type(odd) {
    background-color: #f8f8f8;
}

section:nth-of-type(even) {
    background-color: #ffffff;
}


.scroll-trigger {
    height: 1px;
    width: 100%;
}